@import "materialize";
@import "material_icons";


html {
  height: 100%;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
}

body {
  height: 100%;
}

.brand-logo {
  text-align: center;
}

#menu-icon {
  margin: 0 auto;
}

#menu-btn {
  display: block;
  margin: 0;
}

#body {
  height: 100%;
}

.grid {
  height: calc(100% - 64px);
}

#left-grid, #right-grid {
  border: 1px gray;
  border-style: none solid;
}

#left-grid {
  position: fixed;
  bottom: 0;
  left: 0;
}

#right-grid {
  position: fixed;
  bottom: 0;
  right: 0;
}

#center-grid {
  height: auto;

  margin-top: 44px;
  z-index: 0;
}

#post {
  min-height: 100px;
}

.secondary-content {
  z-index: 0;
}

#make-btn {
  position: fixed;
  bottom: 100px;
  right: calc( );
}

#group-post {
  margin-bottom: 0;
}

#group-content {
  white-space: pre-wrap;
}

#make-modal {
  height: 350px;
}

#tabs-swipe-demo {
  margin-top: 7.250px;
  border: 1px rgb(224,224,224);
  border-style: solid solid none solid;
}

div.tabs-content.carousel.carousel-slider {
  height: 650px !important;
}



#group-list {
  margin-top: 0;
}
