<h1 id="test">テストページです</h1>
<section class="panel">
    <header class="panel-heading">
    要素1
    </header>
    <div class="panel-body">
        <form>
            <textarea  name="userId" id="userId"></textarea>
            <button id="btn-userId" type="button" class="btn unt-btn">検索</button>
        </form>
    </div>
</section>
<section class="panel">
    <header class="panel-heading">
    要素2
    </header>
    <div class="panel-body">
        <form>
            <textarea  name="userId2" id="userId2"></textarea>
            <button id="btn-userId2" type="button" class="btn unt-btn">検索</button>
        </form>
    </div>
</section>
